page-enroute {

}
.buttonitem{
    padding:none;
    font-size: 15px;
    width:100%;
    height:50px ;
    background:color($colors,navbarcolor);
}
.background1{
    background:color($colors, light);
}
.buttoncolor{
    background-color: color($colors, navbarcolor);
}