page-profile {

}
.background1{
    background:color($colors, light);
}
.round{
    width: 140px !important;
    height: 140px !important;
    
}
.card2{
    padding:-15px;
    text-align: center;
}
.headerlabel
{
    text-align: center;
    font-size:15px; 
}
.badgevalues{
    width:100%;
    background-color: color($colors, themeblue);
    font-size:15px;
}

.badge{
    padding-left: 20px;
    padding-right:20px;
    padding-bottom:10px;
    padding-top:10px;
}