page-enqueue {

}
.background1{
    background:color($colors, lightthemeblue);
}
.buttonicon{
    font-size:20px;
}
.buttonitem{
    padding:none;
    font-size: 15px;
    width:100%;
    height:50px ;
    
}
.thumb{
    width:392px;
    height:150px;
}
.headertop{
    text-align: center;
}