<!--
  Generated template for the EnqueuedetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Enqueue Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background1">
  <h2 *ngIf="cancelledPackage">Package Cancelled</h2>
  <div *ngIf="inProgress">
    <ion-card>
      <ion-item>
        <ion-icon class="iconsize" name="code" item-start></ion-icon>
        <ion-label color="danger" stacked>Verification Code</ion-label>
        <ion-input [(ngModel)]="token" placeholder="XXXXXXX"></ion-input>
      </ion-item>
    </ion-card>
    <button ion-button full class="buttonitemblue" (click)="sendDelivertConfirmation(item.PackageID)">
        Package Delivered
      </button>
    
  </div>
  <button ion-button full *ngIf="!inProgress" class="buttonitemblue" (click)="confirmPickUp(item.PackageID)">
      Confirm Package Pickup
    </button>
  <ion-card id="mapdetail" #mapdetail></ion-card>
  <ion-card><button class="buttonitemblue" ion-button full (click)=findPath()>Find Path</button></ion-card>
  <ion-card>

    <ion-item>
      <h2 class="ioniconcolor1">Package Name:</h2>
      <ion-note class="ioniconcolor1" item-end>{{item.PackageName}} </ion-note>
    </ion-item>
    <ion-item>
      <ion-note class="ioniconcolor1">{{item.PackageDesc}}</ion-note>
    </ion-item>
    <ion-item>
      <h2 class="ioniconcolor1">Fare</h2>
      <ion-note class="ioniconcolor1" item-end>{{item.Fare}}/-</ion-note>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon class="ioniconcolor1" name="pin" item-start large></ion-icon>
      <ion-note class="ioniconcolor1">To: {{item.DestAddress}}
      </ion-note>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon class="ioniconcolor1" name="radio-button-off" item-left large></ion-icon>
      <ion-note class="ioniconcolor1">From: {{item.PickAddress}}
      </ion-note>
    </ion-item>
  </ion-card>
  <!--ADD NG IF TO CHECK STATUS UNTILL THE PACKAGE IS PICKED UP else show cancelation button-->
  <ion-card>
    <img class="imagePackage" src="http://localhost:5000/uploads/{{item.PImage}}" />
  </ion-card>
  <div *ngIf="cancellationOption">
    <button ion-button full class="buttonitem" (click)="cancelPackage(item.PackageID)">
      Cancel Package
    </button>
  </div>
  



</ion-content>