page-enqueuedetails {

}
.headertop{
    padding-top: 15px;
}
.background1{
    background: color($colors, light);
}
.iconimg{
    width: 35px;
    height: 35px;
    
}
.buttonitem{
    padding:none;
    font-size: 15px;
    width:100%;
    height:50px ;
    background:color($colors,navbarcolor);
}
.buttonitemblue{
    padding:none;
    font-size: 15px;
    width:100%;
    height:50px ;
    background:color($colors,themeblue);
}
.imagePackage{
    height: 30%;
}
#buttonSearch{
    margin-top:50px;
    padding:none;
    font-size: 12px;
    width:70px;
    height: 40px;
    float:right;
    background:color($colors,navbarcolor);
}
.ioniconcolor1{
    color : color($colors, themeblue);
    font-size:20px;
 }