page-nearby {

}
.buttonitem{
    padding:none;
    font-size: 15px;
    width:100%;
    height:50px ;
    
}
.background1{
    background: color($colors, lightthemeblue);
}
.imagepackage{
 max-height: 270px;
}