page-nearby {

.buttonitem{
    padding:none;
    font-size: 12px;
    width:100%;
    height: 40px;
    background:color($colors,navbarcolor);
}
.background1{
    background: color($colors, light);
}

.buttoncolor{
    background-color: color($colors, navbarcolor);
}
.ioniconcolor1{
    color : color($colors, themeblue);
    font-size:20px;
 }
.ioniconcolor2{
     color : color($colors, navbarcolor);
  }
.imagePackage{
    height: 30%;
}
#divider{
    height:90%;
}
#mapNearby {
    height: 90%;
    top: 0;
    left: 0;
    position: absolute!important;
    overflow: hidden!important;
}
#distanceInput{
    margin:0px;
    background-color:white;
    opacity: 0.5;
    z-index: 3;
    padding:0px;
}
#goButton{
    opacity: 0.7;
    width:100%;
    heigth:100%;
    padding:0px;
}
#goButton:active{
    opacity: 1;
}
    // map style

    ion-searchbar {
        position: absolute;
        opacity: .7;
        z-index: 3;
    }
}